<div class="container">
  <div class="d-flex">
    <div class="booking-container">
      <%= link_to 'Back to Plants', plants_path, id: "booking-btn", class: "btn-ghost"  %>
    </div>
  <div class="booking-header">
    <h1>Bookings</h1>
  </div>
    </div>
  <div class="flex-container">
     <% @bookings.each do |booking| %>
      <% if !booking.plant.photos.first.nil?%>
     <div class="card card-plant" style="width: 18rem;">
      <div class="row justify-content-center">
     <h5 class="card-title"><%= cl_image_tag booking.plant.photos.first.key, height: 200, width: 300, crop: :fill %></h5>
    <% else%>
    <div class="card card-plant" style="width: 18rem;">
      <div class="row justify-content-center">
     <h5 class="card-title"><%= image_tag "placeholder.png", alt: "placeholder-img", height: 200, width: 300 %></h5>
      <% end %>

     <h5 class="card-plant-infos"><%= booking.plant.name  %></h5>
     <p class="card-plant-infos">Start date: <%= booking.start_date %></p>
     <p class="card-plant-infos">End date: <%=booking.end_date %></p>
     <p><%= link_to "Cancel my booking ",booking_path(booking.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-ghost"%></p>
   </div>
 </div>
 <% end %>
</div>
</div>
