<p id="notice"><%= notice %></p>

<h1>Plants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Price per Day</th>
      <th colspan="4"></th> <!-- specifies the number of columns a cell should span -->
    </tr>
  </thead>
  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.name %></td>
        <td><%= plant.address %></td>
        <td><%= plant.price_per_day %></td>
        <td><%= link_to 'Show', plant, class: 'card-link'%></td>
        <% end %>
    </tbody>
</table>


<div class="card-trip">
  <% @plants.each do |plant| %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= plant.name %></h2>
      <p><%= plant.address %></p>
    </div>
    <h2 class="card-trip-pricing"><%= plant.price_per_day %>€</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
  <% end %>
</div>