<div class="container">
  <div>
    <h1>Available Plants</h1>
  </div>

  <div class="flex-container">
   <% @plants.each do |plant| %>
   <div class="card card-plant" style="width: 18rem;">
    <div class="row justify-content-center">
      <% if !plant.photos.first.nil?%>
      <%= cl_image_tag plant.photos.first.key, height: 200, width: 300, crop: :fill %>
      <% else %>
      <%= image_tag "placeholder.png", alt: "placeholder-img", height: 200, width: 300 %>
      <% end %>
    </div>
    <div class="card-plant-infos">
      <h4 class="card-plant-infos"><%= plant.name %></h4>
    </div>
    <div>
      <div class="flex-container-grid">
        <p><%= image_tag "home-52.svg", alt: "home-img",width: 20, class: 'show-img' %><%= plant.address %></p>
        <p class="card-plant-pricing"> Daily price: <%= plant.price_per_day %>€</p>
        <%= link_to 'Show', plant, class: "btn-ghost" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
