<div class="container">

<%= simple_form_for(@plant) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.select :status, collection: Plant::STATUSES %>
  <%= f.input :address %>
  <%= f.input :price_per_day %>
  <%= f.input :photo, as: :file %> <%# # TODO Cloudinary %>
  <%= f.submit "Addd plant", class: "btn btn-primary" %>
<% end %>

</div>