<p id="notice"><%= notice %></p>

<div class="container">
 <div class="flex-container">
  <h2><%= @plant.name %></h2>
  <div class="card-plant">
    <div class="card-plant-infos">
  </div>
   <div>
    <div class="flex-container-grid">
    <p> <strong> Rental details </strong> </p>
    <p><%= image_tag "home-52.svg", alt: "home-img",width: 20, class: 'show-img' %><%= @plant.address %></p>
    <p><%= image_tag "payment.svg", alt: "payment-img",width: 20, class: 'show-img' %> daily price: <%= @plant.price_per_day %>€</p> 
    <p><%= image_tag "available.svg", alt: "available-img",width: 20, class: 'show-img' %>status:<%= @plant.status %></p> 
    <%= link_to 'Book this plant !', new_plant_booking_path(@plant), class: 'btn btn-primary'%>
   </div>
  </div>
  </div>
</div>
  
    </div>
    <br>
    <br>
    <br>
     <div class="container">
      <%= link_to 'Back', plants_path, class: "btn btn-flat" %>
      <%= link_to 'Edit', edit_plant_path(@plant), class: "btn btn-flat"%>
      <%= link_to "Delete", plant_path(@plant), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-flat"%>

  </div>


