<div class="container">
 <div class="row justify-content-center">
    <% @plant.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
    <% end %>
 <div class="container">
  <h2> <%= @plant.name %> </h2>
  <div class="flex-item">
    <p> <em> Description: </em> <br> 
    <%= @plant.description %>
  </div>
  </div>
 </div>
    <div class="container-space-between">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <p> <strong> Rental details </strong> </p>
          <p> <em> <%= image_tag "home-52.svg", alt: "home-img",width: 20, class: 'show-img' %> location: </em> <%= @plant.address %></p>
          <p><em>  <%= image_tag "payment.svg", alt: "payment-img",width: 20, class: 'show-img' %> daily price: </em><%= @plant.price_per_day %> €</p>
          <p><em>  <%= image_tag "available.svg", alt: "available-img",width: 20, class: 'show-img' %>status: </em><%= @plant.status %> 
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <p> <%= @plant.user.email %> </p>
          <p> user.avatar </p>
          <p> user.name </p>
          <p> user.description </p>
          <p> user.review </p>
        </div>
      </div>
    </div>
   </div>
</div>
