<p id="notice"><%= notice %></p>
<div class="container">
 <div class="row justify-content-center">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
      <% @plant.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if (index == 0) %>">
          <%= cl_image_tag photo.key, create_derived: true, bytes_step: 20000, min_width: 200, max_width: 400, transformation: {
  crop: :fill, aspect_ratio: "16:9", gravity: :auto}, class: 'd-block w-50' %>
        </div>
      <% end %>
  </div>
   </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 <div class="container">
  <h2> <%= @plant.name %> </h2>
  <div class="flex-item">
    <p> <em> Description: </em> <br>
    <%= @plant.description %>
  </div>
  </div>
 </div>
    <div class="container-space-between">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <p> <strong> Rental details </strong> </p>
          <p> <em> <%= image_tag "home-52.svg", alt: "home-img",width: 20, class: 'show-img' %> location: </em> <%= @plant.address %></p>
          <p><em>  <%= image_tag "payment.svg", alt: "payment-img",width: 20, class: 'show-img' %> daily price: </em><%= @plant.price_per_day %> €</p>
          <p><em>  <%= image_tag "available.svg", alt: "available-img",width: 20, class: 'show-img' %>status: </em><%= @plant.status %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <p> <%= @plant.user.email %> </p>
          <p> user.avatar </p>
          <p> user.name </p>
          <p> user.review </p>
        </div>
      </div>
      </div>
    </div>
    <br>
    <br>
    <br>
     <div class="container">
      <%= link_to 'Back', plants_path, class: "btn-ghost" %>
      <%= link_to 'Edit', edit_plant_path(@plant), class: "btn-ghost"%>
      <%= link_to "Delete", plant_path(@plant), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-ghost"%>
      <%= link_to 'Book this plant !', new_plant_booking_path(@plant), class: 'btn-ghost'%>

</div>
</div>


