   <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
 <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSyYDotdKbJvjCGPVCw55FYqeqDFXa1cQdnAsfwoa61KR6rs7ih&usqp=CAU" %> <span style="color:white">Mister Cocktail</span>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
       <li class="nav-item active">
        <%= link_to "My Profile", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Add a plant", "#", class: "nav-link btn btn-ghost" %>
      </li>
<!--       <li class="nav-item">
        <%= link_to "Messages", "#", class: "nav-link" %>
      </li> -->
      </li>
    </ul>
  </div>
</div>
